@import button-menu
@import value

.MainMenu
    align-content: center
    justify-content: center
    display: flex
    height: $menu-height
    background-color: $dark-text

.MainMenu .menu-row
    width: auto

.MainMenu [class*="col-"]
    padding: 0px
    display: flex

.MainMenu .bt-menu
    @extend %button-menu-style
    justify-self: center
    margin: auto
    
.MainMenu .bt-menu:hover
    @extend %button-menu-style-hover
    .menu-text:before
        @extend %menu-text-hover-before

.MainMenu .menu-text:before
    @extend %menu-text-before

@media (max-width: 768px)
    .MainMenu .bt-menu
        font-size: 16px
  
@media (min-width: 768px)
    .MainMenu .bt-menu
        font-size: 18px
  
@media (min-width: 992px)
    .MainMenu .bt-menu
        font-size: 20px
  
@media (min-width: 1200px)
    .MainMenu .bt-menu
        font-size: 24px
